@font-face {
    font-family: thin-font;
    src: url(./assets/font/Poppins-Thin.ttf);
}
@font-face {
    font-family: regular-font;
    src: url(./assets/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: light-font;
    src: url(./assets/font/Poppins-ExtraLight.ttf);
}
body{
    background-color: rgb(255, 255, 255);
    justify-self: center; 
    align-items: center;
    min-height: 100vh;
    display: flex;
    width: 1440px;
}
section{
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.main-box{
    align-items: center;
    justify-content: center;
    margin-top: 270px;
    margin-left: 30px;
}
.top-box{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: hsl(180, 62%, 55%) 4px solid;
    margin-left: 751px;
    box-shadow: 0px  5px 12px -5px;
}    
.left-box{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: hsl(0, 78%, 62%) 4px solid;
    margin:-100px 0 0 430px;
    box-shadow: 0px  5px 12px -5px;
}
.right-box{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: 4px solid hsl(212, 86%, 64%);
    margin:-205px 0 0 1075px;
    box-shadow: 0px  5px 12px -5px;
}
.buttom-box{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: hsl(34, 97%, 64%) 4px solid;
    margin-left: 751px;
    margin-top: -80px;
    box-shadow: 0px  5px 12px -5px;
}
p{
    color:rgb(151, 150, 150);
    font-family: regular-font;
    font-size: 12px;
    line-height: 23px;
    padding-left: 20px;
}  
h4{
    font-family: regular-font;
    font-size: 20px;
    padding-left:20px;
    color: rgb(63, 63, 63);
}
.header{
    align-items: center;
    justify-content: center;
}
.title-1{
    font-family: thin-font;
    font-size: 41px;
    position: absolute;
    left: 677px;
    top: 15px;
    color: hsl(0, 0%, 65%);
    font-weight: bold;

}
.title-2{
    font-family: regular-font;
    font-size: 41px;
    position: absolute;
    left: 678px;
    top: 80px;
    color:hsl(234, 12%, 34%);
}
.title-3{
    font-family: thin-font;
    font-size: 15px;
    position: absolute;
    text-align: center;
    left: 700px;
    top: 170px;
    font-weight: bold;
    width: 60px;
    height: auto;
    color: hsl(234, 12%, 34%);
}
.img-top{
    width: 45px;
    height: auto;
    padding-left: 230px;
    margin-top: -5px;

}
.img-left{
    width: 45px;
    height: auto;
    padding-left: 230px;
    margin-top: -5px;
}
.img-right{
    width: 45px;
    height: auto;
    padding-left: 230px;
    margin-top: -5px;
    
}
.img-bottom{
    width: 45px;
    position: absolute;
    margin-left: 230px;
    bottom: 210px; 
}

/* footer attribue */

.attribution {
    font-size: 12px;
    padding: 0;
    position: absolute;
    top: 870px;
    left: 773px;
    font-family: regular-font;
    color: rgb(3, 3, 3); 
}