@font-face {
    font-family: thin-font;
    src: url(./assets/font/Poppins-Thin.ttf);
}
@font-face {
    font-family: regular-font;
    src: url(./assets/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: light-font;
    src: url(./assets/font/Poppins-ExtraLight.ttf);
}

body{
    background-color: dimgrey;
    justify-self: center; 
    align-items: center;
}
section{
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.main-box{
    align-items: center;
    justify-content: center;
    margin-top: 270px;
    margin-left: 30px;
}
.top-box{
    background-color: rgb(226, 226, 226);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: aqua 4px solid;
    margin-left: 751px;
}    
.left-box{
    background-color: rgb(226, 226, 226);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: rgb(199, 16, 16) 4px solid;
    margin:-100px 0 0 430px;
}
.right-box{
    background-color: rgb(226, 226, 226);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: rgb(33, 6, 155) 4px solid;
    margin:-205px 0 0 1075px;
}
.buttom-box{
    background-color: rgb(226, 226, 226);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    border-top: rgb(253, 124, 3) 4px solid;
    margin-left: 751px;
    margin-top: -80px;
}
p{
    color:rgb(151, 150, 150);
    font-family: regular-font;
    font-size: 12px;
    line-height: 23px;
    font-weight: bold;
    padding-left: 20px;
}  
h4{
    font-family: regular-font;
    font-size: 20px;
    padding-left:20px;
    color: rgb(63, 63, 63);
}
.header{
    align-items: center;
    justify-content: center;
}
.title-1{
    font-family: thin-font;
    font-size: 41px;
    position: absolute;
    left: 677px;
    top: 15px;
}
.title-2{
    font-family: regular-font;
    font-size: 41px;
    position: absolute;
    left: 678px;
    top: 80px;
}
.title-3{
    font-family: thin-font;
    font-size: 15px;
    position: absolute;
    text-align: center;
    left: 700px;
    top: 170px;
    color: aliceblue;
    font-weight: bold;
    width: 60px;
    height: auto;
    
}  